<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <connectionStrings>
    <add name="AttendanceDB"
         connectionString="Server=DESKTOP-H02MF2H;Database=survey_app;Integrated Security=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="DeviceList" value="192.168.0.108|1;192.168.0.110|2" />
    <add key="DevicePort" value="4370" />
  </appSettings>
</configuration>
